html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  font-family: "Muli", sans-serif, Helvetica, Helvetica Neue, Arial;
  font-size: 18px;
  line-height: 40px; }

body {
  margin: 0; }

@media all and (max-width: 900px) {
  .surf__header {
    width: 100%;
    height: auto;
    position: relative;
    background: #0B3551; }
    .surf__header .title__logo {
      text-align: center;
      line-height: 21px;
      padding: 20px 0 0 0;
      margin: 0;
      display: block;
      list-style-type: none;
      padding: 0; }
      .surf__header .title__logo img {
        height: 40px;
        width: 40px; }
      .surf__header .title__logo .blog__title {
        color: #fff; }
      .surf__header .title__logo .credit {
        font-size: 12px;
        color: #196FB1; }

  .surf__headerNav {
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/bb.jpg");
    background-position: center center;
    background-repeat: no-repeat; }
    .surf__headerNav > ul {
      text-align: center;
      padding: 0; }
      .surf__headerNav > ul > li {
        display: inline-block;
        list-style-type: none;
        margin: 0 15% 0 15%; }
      .surf__headerNav > ul a {
        text-decoration: none;
        color: #000;
        line-height: 5px;
        font-weight: 500; }

  .big__title {
    display: none; } }
@media all and (min-width: 901px) {
  .surf__header {
    position: relative;
    top: 0;
    width: auto;
    height: 600px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/coverPic.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

  .surf__headerNav {
    width: 200px;
    position: absolute;
    top: 10px;
    right: 74px; }
    .surf__headerNav ul {
      text-align: center;
      padding: 0; }
      .surf__headerNav ul li {
        display: inline-block;
        list-style-type: none;
        margin: 0 15%; }
      .surf__headerNav ul a {
        text-decoration: none;
        color: #000;
        line-height: 5px;
        font-weight: 500; }
      .surf__headerNav ul li {
        margin: 0 2%; }

  .title__logo {
    margin-top: 0;
    padding-left: 5%; }
    .title__logo li {
      text-align: center;
      line-height: 21px;
      padding: 20px 0 0 0;
      margin: 0;
      display: inline-block;
      list-style-type: none; }
      .title__logo li img {
        height: 40px;
        width: 40px; }
    .title__logo .credit {
      display: none; }

  .big__title {
    text-align: center;
    color: #fff;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .big__title h1 {
      margin-bottom: 0;
      font-size: 72px; }
    .big__title span {
      color: #0B3551; } }
@media all and (max-width: 900px) {
  .surf__content {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    letter-spacing: -1px; }
    .surf__content p {
      line-height: 25px; }
    .surf__content a {
      color: #A3A3A3; }

  .surf__contentTitle {
    vertical-align: center; }
    .surf__contentTitle > span {
      color: #0B3551;
      font-size: 56px; }

  .quote {
    color: #196FB1;
    font-size: 22px; }

  .author {
    display: block;
    list-style-type: none;
    padding: 0;
    text-align: center; }
    .author img {
      height: 90px;
      width: 90px;
      border-radius: 50%; }
    .author span {
      color: #196FB1; }

  .social__mediaList {
    padding: 0; }
    .social__mediaList li {
      display: inline-block;
      list-style-type: none;
      margin: 0 5px 0 5px; }
    .social__mediaList a {
      text-decoration: none; }

  .sidebar {
    display: none; }

  .surf__contentPopular {
    margin-top: 10px; }
    .surf__contentPopular span {
      color: #0B3551;
      font-size: 28px;
      padding: 0 15%; }
    .surf__contentPopular ul {
      display: block;
      list-style-type: none;
      padding: 0; }
      .surf__contentPopular ul .related1 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related2 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related2.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related3 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related3.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related4 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related4.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul li {
        margin-bottom: 10px; }
        .surf__contentPopular ul li span {
          position: relative;
          top: 175px;
          left: 10px;
          color: #fff; }

  .ad__space {
    height: 220px;
    width: 25%;
    background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/ad.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 350px; }
    .ad__space span {
      position: relative;
      left: 219px;
      top: 340px; }

  .surf_contentShare {
    position: absolute;
    top: 221px;
    left: -28px; }
    .surf_contentShare ul {
      display: block;
      list-style-type: none;
      padding: 0; }
      .surf_contentShare ul li {
        height: 26px;
        width: 26px;
        margin-bottom: 3px; }
        .surf_contentShare ul li img {
          height: 26px;
          width: 26px; } }
@media all and (min-width: 901px) {
  .surf__content {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    display: block; }
    .surf__content a {
      color: #A3A3A3; }

  .surf__contentInfo {
    display: inline-block;
    width: 50%;
    margin: 40px 5% 0 5%;
    letter-spacing: -1px; }
    .surf__contentInfo p {
      line-height: 30px; }
    .surf__contentInfo .quote {
      color: #196FB1;
      width: 100%;
      font-size: 40px;
      padding-left: 5px;
      border-left: 3px solid #A3A3A3; }

  .surf__contentTitle span {
    color: #0B3551;
    font-size: 56px; }

  .surf__contentFiller {
    display: inline-block;
    width: 20%;
    margin: 40px 5% 0 5%;
    text-align: center; }
    .surf__contentFiller .side__para {
      letter-spacing: -1;
      font-size: 13px;
      line-height: 16px; }

  .surf__contentPopular {
    margin-top: 10px;
    width: 100%;
    padding: 0;
    margin: 0; }
    .surf__contentPopular span {
      position: relative;
      color: #0B3551;
      font-size: 28px;
      padding: 0 15%; }
    .surf__contentPopular ul {
      font-size: 0;
      padding: 0;
      margin: 0; }
      .surf__contentPopular ul .related1 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related1.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related2 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related2.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related3 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related3.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul .related4 {
        height: 220px;
        width: 25%;
        background: linear-gradient(rgba(11, 53, 113, 0.7), rgba(11, 53, 113, 0.7)), url("../images/related4.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover; }
      .surf__contentPopular ul li {
        display: inline-block;
        list-style-type: none;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        font-size: 0px; }
        .surf__contentPopular ul li span {
          position: relative;
          top: 175px;
          left: 10px;
          color: #fff; } }
@media all and (max-width: 900px) {
  .surf__footer {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 0;
    background: #0B3551;
    color: #A3A3A3; }
    .surf__footer .title__logo {
      text-align: center;
      line-height: 21px;
      padding: 20px 0 0 0;
      margin: 0; }
      .surf__footer .title__logo img {
        height: 40px;
        width: 40px; }
    .surf__footer .footer__logo {
      font-size: 15px; }

  .surf__footerNav {
    text-align: center;
    margin: 0 10% 0 10%;
    padding: 0; }
    .surf__footerNav .surf__footerNavList {
      display: inline-block;
      list-style-type: none; }
      .surf__footerNav .surf__footerNavList a {
        color: #A3A3A3;
        text-decoration: none; } }
@media all and (min-width: 901px) {
  .surf__footer {
    position: relative;
    top: 0;
    left: 0; }
    .surf__footer img {
      height: 40px;
      width: 40px; } }

/*# sourceMappingURL=styles.css.map */
