<section class="surf__contentPopular">
  <span>POPULAR POSTS</span>
  <ul>
    <li class="related1">
      <span>Post Title</span>
    </li>
    <li class="related2">
      <span>Post Title</span>
    </li>
    <li class="related3">
      <span>Post Title</span>
    </li>
    <li class="related4">
      <span>Post Title</span>
    </li>
  </ul>
</section>